<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d73a0188-aed9-44f4-b03c-d6a4d998681b" name="TestSuite 1-Couchbase" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d73a0188-aed9-44f4-b03c-d6a4d998681bfileName">TestSuite-1-Couchbase</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>